@model CapMobileWebApp.DAL.Model.CashFlowBusiness

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CashFlowBusiness</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingCash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingCash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingSales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingSales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingReceivables)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingReceivables)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanEmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanEmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialPurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialPurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalariesAndWages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalariesAndWages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketingExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketingExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneBills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneBills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Internet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Internet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricityBill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricityBill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotorFuelExpenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotorFuelExpenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportationExpenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportationExpenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotorMaintenanceExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotorMaintenanceExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralAndAdministrative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralAndAdministrative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiscellaneousExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiscellaneousExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOutgoing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOutgoing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
