@model CapMobileWebApp.DAL.Model.Nominee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nominee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aadhar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aadhar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMinor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMinor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appointe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
